.button {
    display: block;
    color: black;
    background-color: white;
    border: none;
    margin: 0px auto 40px auto;
    padding: 10px;
    opacity: 0.7;
    border-radius: 3%;
}

.button:hover {
    opacity: 1;
}